<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} — {{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ "css/polygraf.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/chroma.css" | relURL }}">
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {
        delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
        ]
    });">
    </script>
</head>
<body>
  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
      <address>
          <p>
              © 2025 Karsten Kroesch —
              <a href="mailto:karsten@kroesch.ch"
                  >karsten@kroesch.ch</a
              >
          </p>
          <p><a href="https://kroesch.ch">https://kroesch.ch</a></p>
      </address>
  </footer>
</body>
</html>
