{{ define "main" }}
<section>
    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Content }}{{ . }}{{ end }}
    </header>

    <ul>
        {{ range .Pages.ByDate.Reverse }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ with .Params.description }}<br /><small>{{ . }}</small>{{ end }}
            {{ if .Date }}<br /><time datetime="{{ .Date }}"
                >{{ .Date.Format "02. Jan 2006" }}</time
            >{{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
